.App {
  height: 100vh;
  background: rgb(133, 79, 79);
  font-size: calc(10px + 1rem);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.createUser {
  padding: 100px 0;
}
.Counter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 300px;
  border-top: 5px solid #000;
}
.Counter p {
  margin-top: 20px;
}
.Counter button {
  padding: 10px;
  margin: 3px;
}
